DATABASE_URL=postgres://user:password@localhost:5432/dbname

ADMIN_EMAIL=testing@navertest.com
ADMIN_PASSWORD=Password@@%!

JWT_ACCESS_SECRET=khitmin-jwt-secret-key1
JWT_REFRESH_SECRET=khitmin-jwt-secret-key2
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

